if title
  a(href='#', class='add')
    span.title
      =title 
-var current = (list.length > 20) ? ' ' : 'Z';
.category-list
  ul.category
    each item in list
      -if(item.toUpperCase()[0] > current){
        -current= item.toUpperCase()[0];
        li.jumper(id='jumper'+current)
      -}
      li= item