doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")  
    meta(name="viewport",content="width=device-width");

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')

    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/wu/touch.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/wu/runtime.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/renderer.js')

  body
    audio#player(controls)
      source(type="audio/mpeg")
