doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")  
    meta(name="viewport",content="width=device-width");
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/runtime.js')
    script(src='/javascripts/drag.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/query-params.js')
    script(src='/javascripts/app.js')
    script(src='/JST.js')

    //views
    script(src='/javascripts/views/list.js')
    script(src='/javascripts/views/list-jumper.js')
    script(src='/javascripts/views/category-nav.js')
    script(src='/javascripts/views/category-list.js')
    script(src='/javascripts/views/category-popup.js')
    script(src='/javascripts/views/categories.js')


    //models
    script(src='/javascripts/models/category_model.js')
    script(src='/javascripts/models/playlist_model.js')
    script(src='/javascripts/collections/playlists.js')

    //routes
    script(src='/javascripts/routes/route.js')


  body
    #alphabet
    .nav-wrap
    #category
    .popup
    .mask
    #pullTab
      span
      .playing Now Playing
        span.icon-pause
        span.icon-chevron-right