*{
  padding:0px;
  margin:0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

@font-face { font-family: MyriadPro-light; src: url('/font/MyriadPro-Light.otf'); } 
a, a:active{
  color:white;
  text-decoration:none;

}
body{
  background-position-x:0px;
  -webkit-transition:background-position-x 1s;
  background-image: url(/images/antony.jpeg);
  max-width:100%;
  font-family:MyriadPro-light,Helvetica;
  background-color:black;
  color:white;
}
.nav-wrap{
  background-color: rgba(0, 0, 0, 0.73);
  white-space: nowrap;
  padding:10px;
  padding-left:50px;
  box-sizing: border-box;
  font-size:1.5em;
  min-height:50px;
  .menuLink{
    background-color:black;
    position:absolute;
    left:10px;
    display: inline-block;
    margin-right: 10px;
    
  }
  nav{
    a, a:active{
      color:#838383;
      margin-right:30px
    }
    a.active{
      color:white;
    }
  }
}

.category,.list-view{
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0.90)), color-stop(51%,rgba(0, 0, 0, 0.65)), color-stop(100%,transparent));
  position: absolute;
  top:41px;
  bottom:0px;
  overflow-y: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  .title{
    padding: 6px 10px 0px 10px;
    font-size: 1.8em;
    background-color: blueViolet;
    display: inline-block;
    position: relative;
    margin-bottom: 14px;
    cursor: pointer;
  }
  .title:after{
    //non breaking space
    content: "\00a0+";
  }
  .category-list{
    font-size: 1.7em;
    list-style: none;
    margin: 0px 0px 60px 16px;
    line-height: 1em;
  }

  #track-list li{
    margin-bottom:12px;
  }
  ul{
    margin-bottom:40px;
    li{
      margin-bottom:10px;
    }
    list-style: none;
  }
  .playlists{
    span{
      font-size: 20px;
      text-transform: uppercase;
    }
    ul{
      margin-left: 10px;
    }
  }
}
#mask{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  top: 0px;
  left: 0px;
  display: none;
}

.popup{
  display: none;
  background-color: white;


  max-width: 500px;
  width:100%;
  color: blueViolet;
  position: absolute;
  z-index: 12;
  font-size: 15px;
  top: 11%;
  font-weight: normal;
  padding-left: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;

  .top-box{
    padding: 5px;
  }
  span,h1,li{
    cursor: pointer;
  }
  .bottom-box{
    margin:10px 0px 10px 10px;
    color: black;
    line-height: 27px;
    font-size: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    ul{
      list-style: none;
    }
    input{
      font-size: 20px;
      margin-right: 15px;
    }
  }
  h1{
    line-height: 1.3em;
    font-weight: normal;
    span.divider{
      margin:0px 15px;
    }
  }
}

.popup.expand .top-box h1{
    display: none;
}
.popup.add .add{
    span{
      color: blueviolet;
    }
    display: block !important;
}

.popup.new .new{
    display: block !important;
}

.popup.server{
  h1{
    cursor: initial; 
  }
  h2{
    cursor: pointer;
  }
}

#pullTab{
  -webkit-transition: left .5s;
  position:fixed;
  bottom:0px;
  color:black;
  background-color: white;
  width:100%;
  height:40px;
  left: 100%;
  margin-left: -50px;
  padding-left: 50px;
  z-index:3;
  div{
    font-size: 20px;
    margin-left: 10px;
  }
  .playing{
    float:left;
    padding-right: 30px;
    i{
      position:relative;
      z-index: 10;
      display: inline-block;
      margin:10px;
      font-size: 17px
    }
  }
  .icon-music{
    position: absolute;
    left: 7px;
    top: 3px;
    font-size: 35px;
  }
  .ball{
    position:absolute;
    left:50px;
    top:0px;
    z-index: 1;
    margin-left:0px;
    width:50px;
    height:50px;
    display:none;
    background-color:rgba(123, 118, 128, 0.39);
  }
  a, a:active{
    color: black
  }
}

.track-list{
  li{
    padding:5px;
    margin-bottom: 0px !important;
  }
  li.active{
    color:blueviolet;
  }
  .track-title{
    font-size: 1.2em;
  }
  .more{
    color:grey;
    font-size: .9em;
  }
}

#menu{
  position: fixed;
  width: 280px;
  z-index: 12;
  padding: 10px;
  color: black;
  background-color: white;
  top: 0px;
  bottom: 0px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  a{
    color:blueviolet;
  }
  .musicLink{
    display: none;
    color: blueviolet;
    font-size: 1.2em;
    margin-bottom: 20px;
    .icon-chevron-left{
      margin-right: 10px;
    }
  }
  .renderers{
    li{
      border: 1px solid rgb(180, 172, 172);
      padding-left: 10px;
      padding-bottom: 3px;
      border-bottom: 0px;
      padding-top: 3px;
      position:relative;
      &:last-child{
        border-bottom: 1px solid rgb(180, 172, 172);
      }
      span{
        margin-right: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
      }
    }
    li.active{
      background-color: rgb(216, 184, 245);
      i{
        float:none;
        position: absolute;
        top:5px;
        right:0px;
      }
    }
  }
  li{
    i{
      float:right;
      display:none;
      color:blueviolet;
    }
  }
  li.active{
    i{
      display:inline-block;
    }
  }
  .lists{
    padding-left:10px;
    h1{
      text-transform: uppercase;
      font-size: .9em;
      margin-top: 10px;
      font-weight: bolder;
      font-family: Helvetica;
      &:first-child{
        margin-top: 0px;
      }
      i{
        margin-left:10px;
      }
    }
    ul{
      list-style: none;
      padding-left:10px;
      margin-top: 10px;
      li{
        font-size: 1em;
      }
    }
    .playlists li{
      margin-bottom: 10px;
    }
  }
}

.hide{
  display: none;
}

.toast-wrap{
  position: absolute;
  top: 20%;
  z-index:13;
  color: white;
  left: 50px;
  display: none;
  .toast{
    background-color: rgb(19, 24, 44);
    border: 1px solid rgb(194, 194, 194);
    padding: 15px;
    font-size: 1em;
    letter-spacing: 1px;
    display: inline-block;
  }
}

.toast-wrap.error{
  .toast{
    border: 2px solid rgb(243, 103, 103);
  }
}

@media all and (max-width: 500px){
  .toast-wrap{
    left:0px;
    width:100%;
    text-align: center;
  }
}

.jumper{
  width:30px;
  height:30px;
  background-color: blueviolet;
}

#alphabet{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding:10px 30px;
  color: blueViolet;
  max-width: 340px;
  opacity: .8;
  box-sizing:border-box;
  z-index: 13;
  font-size: 25px; 
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -webkit-backface-visibility:hidden;
  -webkit-transform-origin:0 0;
  -webkit-transform: rotateY(90deg) translate3d(0,0,0);

  -moz-transition: -moz-transform .3s;
  -moz-backface-visibility:hidden;
  -moz-transform-origin:0 0;
  -moz-transform: rotateY(90deg) translate3d(0,0,0);
}

#alphabet span{
  padding:0px 10px;
  font-size: 40px;
  line-height: 70px;
  display: inline-table;
  cursor: pointer;
}

#alphabet span.greyed{
  color: grey;
  cursor: auto;
}

#alphabet.back{
  display: inline-block;
}

#alphabet.flipOut{
  opacity: 1;
   -webkit-transform: rotateY(0deg);
   -moz-transform: rotateY(0deg);
}
@-webkit-keyframes flyOver {
  0%{
    -webkit-transform: translate(0px,0px);
  }
  70%{
    -webkit-transform: translate(-100px,-130px);
  }
  100%{
    -webkit-transform: translate(-90px,-90px);
  }
}

.dropDown{
  color: rgb(255, 255, 255);
  font-family: helvetica;
  border: 1px solid blueviolet;
  display: inline-block;
  padding: 2px 10px;
  font-size: .8em;
  background-color: rgba(4, 18, 48, 0.71);
  list-style: none; 
  .down{
    margin-left: 10px;
  }
  .option{
    margin-top: 7px;
    display: none;
  }
}
.dropDown.opened{
  z-index: 100;
  position: relative;
  .option{
    display: block;
  }
}

.info{
  font-size: 1.7em;
  padding:20px 10px;
  position: relative;
  z-index: 12;
  text-align: center;
  background-color: rgba(44, 44, 61, 0.79);
  ul{
    list-style: none;
    margin-top: 20px;
  }
  li{
    font-size: .7em;
    a, a:active{
      color: blueviolet;
    }
  }
}

@-webkit-keyframes bounce {0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}40% {-webkit-transform: translateY(-30px);}60% {-webkit-transform: translateY(-15px);}}


/**swipe away**/
.swipeCover{
  position: absolute;
  width: 100%;
  height: 100%;
  left:100%;
  top:0px;
  background-color: rgba(92, 31, 31, 0.93);
  -webkit-transform: translate3d(0,0,0);
  margin-left:1px;
  text-align: center;
  z-index:1;
}
.swipeCover h1{
  margin-top:8px;
  font-size: 20px;
}
.transition .swipeCover{
  -webkit-transition: -webkit-transform .3s;
  -moz-transition:    -moz-transform .3s;
  transition:         transform .3s;
}
.swipeEl{
  position:relative;
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  z-index:2;
}

.swipeEl.transition{
  -webkit-transition: opacity 2s;
  -moz-transition:    opacity 2s;
  transition:         opacity 2s;
}