*{
  padding:0px;
  margin:0px;
}

@font-face { font-family: MyriadPro-light; src: url('/fonts/MyriadPro-Light.otf'); } 
a, a:active{
  color:white;
  text-decoration:none;

}
body{
  max-width:100%;
  font-family:MyriadPro-light,Helvetica;
  background-color:black;
  color:white;
  overflow-x:hidden;
}
nav{
  a, a:active{
    color:#696565;
  }
  width:700px;
  display: inline-block;
  margin:10px;
  font-size:2.5em;
  a.active{
    color:white;
  }
}
nav a{
  margin-right:40px
}

#category{
  .title{
    padding: 0px 10px 0px 10px;
    font-size: 2em;
    background-color: blueViolet;
    display: inline-block;
    position: relative;
  }
  .plus{
    font-size: 2.3em;
    background-color: blueViolet;
    padding-right: 5px;
    padding-bottom: 2px;
  }
  #track-list{
    font-size:2em;
    list-style:none;
    margin:10px 0px 6px 40px;
  }

  #track-list li{
    margin-bottom:12px;
  }
}
.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  top: 0px;
  left: 0px;
}

.popup{
  background-color: white;
  width: 500px;
  color: blueViolet;
  position: absolute;
  left: 8%;
  z-index: 12;
  font-size: 14px;
  top: 11%;
  font-weight: normal;
  padding-left: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  .left-box{
    border-right: 2px solid blueViolet;
    float: left;
    width: 50%;
  }
  .right-box{

  }
  h1{
    font-weight: normal;
  }
}