.top-box
  h1.play
    i.icon-play-circle
    span.divider | 
    span.next Play Next
  h1.add  Add to playlist
  h1.new  Create new playlist
.bottom-box.add
.bottom-box.new
  form
    input.name(type="text")
    input.submit(type="submit")
span.cancel cancel
