.top-box
  h1     add to now playing
  h1.add add to ...
  h1.new add to new list
  span.cancel cancel
.bottom-box.add
.bottom-box.new
  form
    input.name(type="text")
    input.submit(type="submit")
