- var title = model.getTitle();
- var docs = model.get('docs');
- var name;

-if(title)
  span.title
    =title 
-var current = (docs && docs.length > 20) ? ' ' : 'Z';
.category-list
  ul.category
    foreach docs as item
      - name = item.Title || item;
      -if(name.toUpperCase()[0] > current){
        -current= name.toUpperCase()[0];
        li.jumper(id='jumper'+current)
      -}
      li= name