- var docs = collection.toJSON();

.track-list
  ul
    foreach docs as item
      li(id=item._id,position=item.position)
        .swipeEl
          .track-info
            .track-title=item.Title
            .more
              =item.Artist + " - " + item.Album
          .swipeCover
            h1 Undo
